* {
    list-style: none;
}
body {
    margin: 0%;
    background-color: black;
}
.header {
    display: flex;
    margin-left: 200px;
}
.logo {
    margin-bottom: 0%;
}
.headerlinks {
    background-color: rgb(11, 11, 49);
    color: rgba(255, 252, 243, 0.865);
    margin: 0%;
    display: flex;
    align-items: flex-end;
    max-width: 1350px;
    gap: 30px;
    font-size: 150%;
    width: 100%;
}
.main {
    margin-left: 200px;
}
.boardmenu {
    display: flex;
}
.board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    row-gap: 60px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 115px;
    padding-top: 25px;
}
.board li {
    border-style: solid;
    border-color: antiquewhite;
    font-size: 120%;
    padding: 10px;
    border-width: 5px;
    border-radius: 50%;
    color: antiquewhite;
}
.mainpopup {
    max-width: 100%;
    max-height: 100%;
}
.left {
    max-width: 167px;
    height: auto;
    border-right: 1390px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    border-top: 805px solid rgb(3, 68, 12);
    z-index: -1;
}
.right {
    max-width: 200px;
    height: auto;
    border-left: 1390px solid transparent;
    border-top: 0px solid transparent;
    float: right;
    border-bottom: 805px solid rgba(2, 2, 63, 0.918);
    z-index: -1;
    position: relative;
}
.left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    position: absolute;
    margin-top: 170px;
    margin-left: 230px;
    font-size: x-large;
    align-items: center;
    color: antiquewhite;
}
.right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 550px;
    float: right;
    margin-left: -2000px;
    margin-right: 310px;
    font-size: x-large;
    color: antiquewhite
}
.fadeAway {
    opacity: 0%;
    transition: 1.3s;
}
.fadeIn {
    opacity: 100%;
    transition: 1.3s;
}