* {
    list-style: none;
}
body {
    margin: 0%;
}
.header {
    display: flex;
    margin-left: 200px;
}
.logo {
    margin-bottom: 0%;
}
.headerlinks {
    background-color: rgb(65, 65, 194);
    color: rgba(255, 252, 243, 0.865);
    margin: 0%;
    display: flex;
    align-items: flex-end;
    max-width: 1350px;
    gap: 30px;
    font-size: 200%;
    width: 100%;
}
.main {
    margin-left: 200px;
}
.boardmenu {
    display: flex;
}
.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(73, 192, 73, 0.778);
    row-gap: 30px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 115px;
}
.board li {
    border-style: solid;
    border-radius: 50%;
    border-color: antiquewhite;
    font-size: 100%;
}
.mainpopup {
    max-width: 100%;
    max-height: 100%;
}
.left {
    max-width: 167px;
    height: auto;
    border-right: 1390px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    border-top: 805px solid firebrick;
    z-index: -1;
}
.right {
    max-width: 200px;
    height: auto;
    border-left: 1390px solid transparent;
    border-top: 0px solid transparent;
    float: right;
    border-bottom: 805px solid navy;
    z-index: -1;
}
.left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    position: absolute;
    margin-top: 170px;
    margin-left: 230px;
    font-size: x-large;
    align-items: center;
    color: antiquewhite;
}
.right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 550px;
    float: right;
    margin-left: -2000px;
    margin-right: 310px;
    font-size: x-large;
    color: antiquewhite
}